#spinner
{
    width:130px;
    height: 90px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url(/img/ajax-loader.gif) no-repeat #fff;
    background-position: 50% 70%;
    background-color: #f9a400;
    text-align: center;
    padding: 7px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1000;
    overflow: auto;
}

#overlay {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: transparent;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}​